
@{
    ViewData["Title"] = "AddForm";
}

<h1 class="heading2">Add Item</h1>

<form method="post" action="/admin/add">

    <p class="pclass">Category: <input type="text" name="category" class="input2" /></p> <br />
    <p class="pclass">Name: <input type="text" name="name" class="input2" /></p> <br />
    <p class="pclass">Description: <input type="text" name="description" class="input2" /></p> <br />
    <p class="pclass">Price: <input type="text" name="price" class="input2" /></p> <br />


    <input class="subbtn" type="submit" value="Add Item" />

</form>

