<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab11._3</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <nav>
        <a href="/home" class="nav">HOME</a><br />
        <a href="/admin" class="nav">ADMIN</a>
    </nav>

    @RenderBody()
</body>
</html>
