@{
    ViewData["Title"] = "Privacy Policy";
}

<img src="~/images/jwCCNCO.png" />
<p class="pp">By agreeing to our privacy policy you are agreeing to sell your soul to the Coffee Cult and never drink any other coffee again punishable by death!!</p>


